/** font family **/
/* manrope-regular - latin */
@font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/manrope/manrope-v1-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/manrope/manrope-v1-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/manrope/manrope-v1-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/manrope/manrope-v1-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/manrope/manrope-v1-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/manrope/manrope-v1-latin-regular.svg#Manrope') format('svg'); /* Legacy iOS */
  }
  /* manrope-500 - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/manrope/manrope-v1-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/manrope/manrope-v1-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/manrope/manrope-v1-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/manrope/manrope-v1-latin-500.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/manrope/manrope-v1-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/manrope/manrope-v1-latin-500.svg#Manrope') format('svg'); /* Legacy iOS */
  }
  /* manrope-600 - latin */
  @font-face {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/manrope/manrope-v1-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('/assets/fonts/manrope/manrope-v1-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/manrope/manrope-v1-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/manrope/manrope-v1-latin-600.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/manrope/manrope-v1-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/manrope/manrope-v1-latin-600.svg#Manrope') format('svg'); /* Legacy iOS */
  }

$font-3x: 3.5em;
$font-family: 'Manrope';

ion-card-title {
  font-size: $font-3x;
  text-align: center;
  font-family: $font-family;
  color: #665e6d !important;
  text-shadow: 0px 0px 1px #1f1f1f;
  font-weight: 400;
}

ion-card-subtitle {
  font-weight: bold;
  font-family: $font-family;
  color: rgb(120, 120, 120) !important;
  text-shadow: 0px 0px 1px lightgrey;
}

ion-card {
  background: url("../../assets/tile-background.png");
}

ion-badge {
  position: absolute;
  right: 0px;
  padding-top: 5px;
}

#no-currency {
  background: none !important;
  box-shadow: none !important;
  text-align: center;
  display: none;
}